@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0%;
  margin: 0%;

}

html {
  color-scheme: dark;
}

body {
  padding: 1.5rem;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2d2d2d;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


td,
th {
  min-width: 10rem;
  text-align: left;
  padding: 0.8rem;
}

th {
  background-color: #0000008c;
}

tr:nth-child(even):not(:last-child) {
    background-color: #00000052;
}

/* does the same thing */

/* tr:nth-last-of-type(2n) {
  background-color: #00000052;
} */
  